<!--
Tim Kim and Tae Jin Kim
Web Security - Undergraduates
Homework #1
!-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<title>Go!</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  
  <body>
    <h1>FIVE IN A ROW</h1>
    
    <div id="main">
      <div id="game">
    		<canvas id="board"></canvas>
    	</div>
      
      <div id="info">
        <h2>Instructions:</h2>
        <p>
          “Five in a Row … is traditionally played with GO pieces (black and white stones) on a go board with 19x19 intersections”
        </p>
        <p>
          “Black plays first, … and players alternate in placing a stone of their color on an empty intersection. The winner is the first player to get an unbroken row of five stones horizontally, vertically, or diagonally.”
        </p>
        
        <hr />
      </div>
    </div>
  
  <footer>
    <p style="opacity:0.5">Tim Kim and Tae Jin Kim - Web Security F18</p>
  </footer>
  
</body>
  <script src="/static/libs/js/socket.io.min.js"></script>
  <script src="/static/libs/js/jquery.2.2.4.min.js"></script>
  <script src="/static/libs/js/materialize.js"></script>
  <script src="/static/index.js"></script>
</html>